<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/library.css" type="text/css">
    <title>ARCHIVE®</title>
</head>
<body>

    <div class="nav-container">

        <div class="nav-item">
            <a href="/">
                Back
            </a></div>

        <div class="title">ARCHIVE®</div>

        <div class="nav-item icon">
            <img src="icons/list.svg">

        </div>
    </div>

    <h1 class="catalouge">Popular</h1>

    <div class="lib-container">


        <div class="video-container">

            <div class="container-2">

                <video autoplay muted loop id="myVideo">
                    <source src="/videos/demo 1.mp4">
                </video>


            </div>

    
            <h2>SILENT HILL</h2>
            <p class="descriptor">In my restless dreams, I see that town, Silent Hill.<br>
                You promised you'd take me there, but you never did.
                <div class="read-btn">
                    <a href="/article">Read</a> 
                </div>
            </p>

        </div>
    </div>

     <h2 class="catalouge">Catalouge</h2>

    <div class="container-3">

        <div class="scroll-container">

            <div class="card-container">
                <img src="images/midnight 1.png" alt="">
                
                <div class="read-btn2">
                    <a href="#">Midnight Club</a> 
                    <p>Racing</p>

                </div>
            </div>
            
            <div class="card-container">
                <img src="images/dissidia 1.png" alt="">
                
                <div class="read-btn2">
                    <a href="#">Dissidia</a>
                    <p>RPG</p>
 
                </div>
            </div>


            <div class="card-container">
                <img src="images/midnight 1.png" alt="">
                
                <div class="read-btn2">
                    <a href="#">Midnight Club</a> 
                    <p>Racing</p>
                </div>
            </div>


            <div class="card-container">
                <img src="images/silent 3 1.png" alt="">
                
                <div class="read-btn2">
                    <a href="#">Silent Hill</a>
                    <p>Horror</p>
 
                </div>
            </div>   
            

        </div>
    
    </div>

    <div class="btn">
        <a href="#">View Full Catalouge</a>
    </div>

    <!-- <div class="divider"></div> -->

    <h2 class="catalouge">Must Reads</h2>

    <div class="preview-container">
        <div class="preview-container2">

            <div class="image-container2">
                <video muted autoplay loop id="myVideo2">
                    <source src="videos/naruto.mp4">
                </video>
            </div>
            <div class="title2 ">
                
                <p>Naruto:Utimate Ninja Heroes 2 The Phantom Fortress<br>
                    Portable fighting game featuring Naruto characters on PlayStation Portable (PSP).<br><br>
                    <em>Awards: IGN Best of 2001: Best series adaptation
                        <a href="#" id="molly">and more...</a></em>.</p>
                <br>
                <div class="read-btn3">
                    <a href="#">READ NOW</a> 
                </div>
                
            </div>
    

        </div>
       
        <div class="preview-container2">
            
            <div class="image-container2">
                <video muted autoplay loop id="myVideo2">
                    <source src="videos/godofwar.mp4">
                </video>
            </div>

            <div class="title2 ">
                
                <p>God of War: Chains of Olympus<br>
                    Kratos battles gods, haunted by a tragic past, seeking freedom,redemption and death.<br><br>
                    <em>Awards: IGN Best of 2008: Best Graphics
                        <a href="#" id="molly">and more...</a>
                    </em></p>
                <br>
                <div class="read-btn3">
                    <a href="#">READ NOW</a> 
                </div>
                
            </div>

        </div>

        <div class="preview-container2">
            
            <div class="image-container2">
                <video muted autoplay loop id="myVideo2">
                    <source src="videos/legobatman.mp4">
                </video>
            </div>

            <div class="title2 ">
                
                <p>Lego Batman: Gotham Chaos<br>
                    Kratos battles gods, haunted by a tragic past, seeking freedom,redemption and death.<br><br>
                    <em>Awards: 2009 Spike Video Game Awards 2008
                        <a href="#" id="molly">and more...</a></em></p>
                <br>
                <div class="read-btn3">
                    <a href="#">READ NOW</a> 
                </div>
                
            </div>

        </div>

        <div class="btn4">
            <a href="#">View More</a>
        </div>

    
    </div>

    <footer>

        <div class=" nav-item tilte">ARCHIVE®</div>



           
        <div class="halfnhalf">

            <div class="sub-container">

                <form for="get">

                    <input type="email" id="user_email" placeholder="enter email*">
                    <label id="user_email"><a href="#" class="lucki">Subscribe</a></label>
                </form>
            </div>
        

        
            <div class="ftcontainer1">home</div>
            <div class="ftcontainer1">about</div>
            <div class="ftcontainer1">contact</div>

        </div>
        

    </footer>




</body>
</html>