<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registration.css" text="text/css">
    <script defer src="js/main.js"></script>

    <title>Sign-Up</title>
</head>
<body>
    
    <form id="form"  action="/"  method="post">
        <!-- 
        names
        email
        contact
         -->

        <div class="form-child">
            <!-- name -->
            <label id="label">Name:
                <input type="text" name="user_name" id="user_name">
            </label>
        </div>
        <!-- email -->
        <div class="form-child">
            <label id="label">
                Email
                <input type="email" name="email" id="email"></label>
        </div>
        <!-- contact -->
        <div class="form-child">
            <label id="label">
                Password
                <input type="password" id="password" name="password">
            </label>
        </div>
        <div class="button-container">
            <button>Submit</button>
        </div>
    </form>

</body>
</html>