<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="shop.css">
    <title>Document</title>
</head>
    <div class="product1-container">
        <img src="ChromeStock1.jpg" alt="">
    </div>
    <div class="product1-container">
        <img src="merch.jpg" alt="">
    </div>
    <div class="product1-container">
        <img src="camo.jpg" alt="">
    </div>
    <div class="product1-container"><img src="ERD2.jpg" alt=""></div>
    <div class="product1-container"><img src="bolbol.jpg" alt=""></div>
    <div class="product1-container"><img src="camo2.jpg" alt=""></div>
    <div class="product1-container"><img src="ChromeStock3.jpg" alt=""></div>
    <div class="product1-container"><img src="sicknn.jpg" alt=""></div>
    <div class="product1-container">
        <img src="offWhite1.jpg" alt="">
    </div>
    <div class="product1-container">
        <img src="ChromeStock1.jpg" alt="">
    </div>
    <div class="product1-container">
        <img src="merch.jpg" alt="">
    </div>

    <div class="product1-container">
        <img src="ERD1.jpg" alt="">
    </div>
    <div class="product1-container">
        <img src="offWhite1.jpg" alt="">
    </div>
    <div class="product1-container">
        <img src="ChromeStock1.jpg" alt="">
    </div>

    <div class="product1-container"><img src="ERD2.jpg" alt=""></div>
    <div class="product1-container"><img src="bolbol.jpg" alt=""></div>
    
    <div class="product1-container"><img src="camo2.jpg" alt=""></div>
    <div class="product1-container"><img src="ChromeStock3.jpg" alt=""></div>

    <div class="product1-container">
        <img src="ChromeStock1.jpg" alt="">
    </div>
    <div class="product1-container">
        <img src="merch.jpg" alt="">
    </div>

    <div class="product1-container">
        <img src="ERD1.jpg" alt="">
</div>


</body>
</html>

-Destination "C:\public\images"